/*miscellaneous*/

body {
    padding: 0;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


@font-face {
font-family: 'Glyphicons Halflings';

src: url('../fonts/glyphicons-halflings-regular.eot');
src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/*ALL CLASSES*/
/*.map0 {
    position: absolute;
    left: 0;
    height: 20%;
    bottom:0;
    width:80%;
    z-index:100;
}*/

.main-heading{
  position:relative;
  /*font-family:'Roboto',sans-serif;*/
  font-family:Roboto;
  /*font-weight:normal;*/
  font-weight:lighter;
  top:2px;
  font-size: 30px;
  left:10px;
}

.sidebar {
    position: absolute;
    left: 340px;
    width: 340px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
    padding-bottom: 60px;
}

.rightsidebar{
  position: absolute;
  right:0;
  width:150px;
  background-color: #fff;
}


.selectionlabel{
  font-.mainfamily:Roboto;
  font-weight:lighter;
  /*font-weight:normal;*/
}

.layers{
  position:relative;
  top:6px;
  left:10px;
}

.layerlabel{
  position:relative;
  font-family:'Roboto Condensed',sans-serif;
  font-weight:lighter;
  left:20px;
  top:3px;
}

/*.download{
  position:absolute;
  top:1000px;
  right:20px;
  width:300px;
  background-color: rgba(171, 150, 150, .4);
  filter:alpha(opacity=30);
  z-index: 30;
}*/

.legend {
        position:absolute;
        bottom:20px;
        left:380px;
        width:170px;
        height:220px;
        font-family: Arial, sans-serif;
        font-weight: lighter;
        color:white;
        background-color: rgba(171, 150, 150, .4);
        padding: 15px;
        margin: 10px;
        border: 1.5px solid #f07f30;
        z-index: 70;
      }


div.description{
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  width:330px;
  background-color: rgba(255, 255, 255, .8);
  /*background-color: rgba(171, 150, 150, .4);*/
  filter:alpha(opacity=30);
  z-index: 30;

}

.chartsarea{
  position:absolute;
  top:40px;;
  right:5px;
  left:10px;
  z-index:50;
  padding:5px;
}


#myChart1{
  width:265px;
  height:280px;
  /*display:none;*/
}

#myChart2{
  position:relative;
  top:40px;
  width:265px;
  height:200px;
  /*display:none;*/
}


#destext{
  position:absolute;
  color:rgba(0, 0, 0, 0.6);
  font-size:14px;
  font-family:'Roboto Condensed',sans-serif;
  font-weight:lighter;
  margin:15px;
  z-index:60;
  bottom:70px;
  padding:10px;
}


.buttonarea{
  position:absolute;
  margin:4px;
  bottom:15px;
}


.label1{
  display:inline-block;
  font-weight: lighter;
}


.intro{
  position:absolute;
  background-color:rgba(255, 69, 0, .4)
  width:400px;
  top:540px;
  left:3px;
}

div.intro{
  position:absolute;
  background-color:rgba(255, 69, 0, .4)
  width:400px;
  top:540px;
  left:10px;
  filter:alpha(opacity=40);
  z-index: 30;
}

div.intro p {
  position:relative;
    color:#000000;
    font-size: 14px;
    margin:5px;
    z-index:30;
}


.explanation{
  position: relative;
  width:400px;
  top:5px;
  left:3px;
}

.locationmap{
  position:absolute;
  right:5px;
  top:70px;
  /*display:none;*/
}


#myImage1{
  position:absolute;
  right:5px;
  top:70px;
  z-index:300;
  /*display:none;*/
}

.dropdown1{
  position:absolute;
  right: 490px;
  top:30px;
  z-index:50;
}

.dropdown2{
  position:absolute;
  right:370px;
  top:30px;
  z-index: 50;
}

#dropdownMenu1{
  /*font-family:'Roboto',sans-serif;*/
  font-family:Roboto;
  font-weight:lighter;
}

#dropdownMenu2{
  /*font-family:'Roboto',sans-serif;*/
  font-family:Roboto;
  font-weight:lighter;
}

.hint{
  position:absolute;
  top:30px;
  right:60px;
  font-family: inherit;
  font-style: italic;
  font-size:13px;
  color:rgba(0, 0, 0, .6);
  word-break: auto;
  z-index:80;
}

.dropdown-menu{
  /*font-family:Roboto;*/
  /*font-weight: lighter;*/
}

#logo{
  position:relative;
  left:5px;
  height:50px;
  top:305px;
  opacity: 0.9;
}
#logoX{
  position:relative;
  top:305px;
  left:14px;
  height:55px;
  opacity: 0.5;
}

.storylink{
  position:relative;
  top:320px;
  left:0;
  font-family:'Roboto Condensed',sans-serif;
  font-weight:lighter;
  font-size:12px;
  color:#f07f30;
}

.annotation {
  position:relative;
  left:0;
  font-size: 16px;
  width:360px;
}

.annotation span{
  font-weight: bold;
  color: #f07f30;
}

.listing{
  color:blue;
  font-style:normal;
  font-family:sans-serif;
  font-size:12px;
}




button.link { background:none;border:none; }

.box {
    position: absolute;
    background-color: #ff0000;
    z-index: 2000;
  }


.X_colhead{
  /*width:4px;*/
  background-color: #000000;
  }


.cartodb-mobile div.cartodb-timeslider .slider-wrapper {
	position:absolute;
	top:17px
}
.cartodb-mobile div.cartodb-timeslider .slider {
	width:100%
}
.cartodb-mobile div.cartodb-timeslider {
	height:40px;
	margin-bottom:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
	border:1px solid #E5E5E5;
	border-left:0;
	border-right:0;
	border-top:1px solid rgba(0,0,0,.2);
	z-index:1000001
}
.cartodb-mobile div.cartodb-timeslider .slider-wrapper {
	display:block;
	width:100%;
	height:4px;
	padding:0
}
.cartodb-mobile div.cartodb-timeslider {
	width:100%!important
}
.cartodb-mobile div.cartodb-timeslider ul {
	width:100%;
	position:relative;
	clear:both;
	overflow:hidden
}
.cartodb-mobile div.cartodb-timeslider ul li {
	display:block;
	background:#fff;
	float:left
}
.cartodb-mobile div.cartodb-timeslider ul li.controls {
	width:50px
}
.cartodb-mobile div.cartodb-timeslider ul li.time {
	width:120px
}
.cartodb-mobile div.cartodb-timeslider ul li.last {
	position:absolute;
	left:180px;
	right:10px
}
.cartodb-mobile div.cartodb-timeslider ul li.controls a.button {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	border-radius:0
}




/*ALL IDS*/
canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


#chartjs-tooltip {
  opacity: 1;
  position: absolute;
  background: rgba(0, 0, 0, .7);
  color: white;
  border-radius: 3px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.chartjs-tooltip-key {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}


.header{
  position:fixed;
  height:20px;
  background-color:#f07f30;
  top:0px;
  left:0;
  right:0;
  margin-bottom:0px;
  z-index: 70;
}

.header_text{
  position:relative;
  top:0;
  left:16px;
  color:#ffffff;
  /*font-weight:lighter;*/
  /*font-weight:lighter;*/
  /*font-family:'Roboto',sans-serif;*/
  /*font-weight: bolder;*/
  font-family:Roboto;
  /*font-weight:lighter;*/

  font-size: 16px;
}


.main-heading span{
  font-family:'Roboto Condensed',sans-serif;
  color:#f07f30;
  font-weight: regular;
  font-size:34px;
}

.option{
  /*font-family:'Roboto',sans-serif;*/
  font-family:Roboto;
  font-weight:lighter;
}

#option{
  position:absolute;
  top:5px;
  left:420px;
  color:#ffff0f;
  font-weight:normal;
  font-family: Simplifica;
  font-size: 12px;
  display:inline;
}

#sidebar-heading{
  position:relative;
  top:10px;
  left:5px;;
  color:#f07f30;
  font-weight:normal;
  font-family:inherit;
  font-size: 24px;
}


#selection{
  position:relative;
  top:15px;
  width:340px;
  word-wrap: break-word;
  font-style: italic;
  -moz-hyphens:auto;
  -ms-hyphens:auto;
  -webkit-hyphens:auto;
  hyphens:auto;
}
#results{
  position:relative;
  top:15px;
  width:390px;
}
li{
  display: inline;
  text-decoration:underline;
}

#color {
  color:#f07f30;
  font-family: inherit;
}

#download1{
  /*position:absolute;*/
  /*bottom:30px;*/
  margin:12px;
  /*font-family:'Roboto',sans-serif;*/
  font-family:Roboto;
  font-weight:lighter;

}

#download2{
  /*position:absolute;*/
  /*right:30px;
  bottom:20px;*/
  /*position: absolute;*/
  /*right:20px;*/
  margin:12px;
  z-index: 60;
  /*font-family:'Roboto',sans-serif;*/
  font-family:Roboto;
  font-weight:lighter;

}


#showmap{
  /*position:absolute;*/
  /*right:30px;
  bottom:20px;*/
  /*font-family:'Roboto',sans-serif;*/
  font-family:Roboto;
  font-weight:lighter;
  /*font-weight:normal;*/
  margin:10px;
  z-index: 60;
}

#hidemap{
  position:relative;
  /*font-family:'Roboto',sans-serif;*/
  font-family:Roboto;
  font-weight:lighter;
  /*font-weight:normal;*/
  left:5px;
  margin:10px;
  z-index: 60;
}

#ARCGIS{
  position:absolute;
  right:330px;
  top:50px;
  z-index:40;
}

#fill1{
  position:relative;
  right:5px;
  background-color:#EFC4AF;
  height:10px;
  width:20px;
}

#fill2{
  position:relative;
  right:5px;
  background-color:#D48F6E;
  height:10px;
  width:20px;
}

#fill3{
  position:relative;
  right:5px;
  background-color:#DB7849;
  height:10px;
  width:20px;
}

#fill4{
  position:relative;
  right:5px;
  background-color:#ED692A;
  height:10px;
  width:20px;
}

#fill5{
  position:relative;
  right:5px;
  background-color:#F33105;
  height:10px;
  width:20px;
}

#graphtitle1{
  position:absolute;
  top:5px;
  left:0;
}

#graphtitle2{
  position:absolute;
  left:0;
}

#testTable{
  position:absolute;
  right:550px;
  top:40px;
  background-color:white;
  margin:15px;
  padding: 15px;
  z-index:60;
  display:none;
}

#testPDF{
  z-index:-20;
  display:none;
}

#chartContainer{
  position:absolute;
  bottom:40px;
  left:640px;
  z-index: 60;
}

/*//CHINESE GDP RATE*/
/*#fill1{
  position:relative;
  right:5px;
  background-color:#486cd3;
  height:10px;
  width:20px;
}

#fill2{
  position:relative;
  right:5px;
  background-color:#48d3af;
  height:10px;
  width:20px;
}

#fill3{
  position:relative;
  right:5px;
  background-color:#e73115;
  height:10px;
  width:20px;
}*/


#image{
  position:relative;
  border:6px solid #f07f30;
  left:3px;
  width:385px;
  top:10px;
  bottom: 10px;
}



#footer{
    position:fixed;
    height:200px;
    background-color:#f07f30;
    bottom:0px;
    left:400px;
    right:0;
    margin-bottom:0px;
    z-index: 40;
}

#inputlabel{
  position:relative;
  top:0;
  left:30px;
  color:#ffffff;
  font-size: 14px;
}

#dest{
  position:relative;
  left:40px;
  top:0;
  font-size: 14px;
  font-style:oblique;
  color:#808080;
}

#Search{
  position:relative;
  color:#666000;
  left:30px;legend
  top:20px;
  padding:4px;
  font-size: 16px;
  border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;

}

#Route{
  position:relative;
  color:#666000;
  left:80px;
  top:20px;
  padding:4px;
  font-size: 16px;
  border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;

}



#main-heading{
  /*font-size: 14px;*/
  color" #110023;
  font-weight:lighter;
  font-family:monospace;
  .legend {
    position: absolute;
    background-color: #fff;
    z-index: 20;
    right:15px;
    bottom:50px;
    margin:15px;
    padding:10px 10px 10px 10px;
    border:1px solid #ffffff;
  }


#input{
    position:relative;
    background-color: #220022;
    font-size: 35px;
    font-family:inherit;
  }

#green{
    color:#008000;
  }

#slidenumber{
    color:#fffff0;
    font-size:10px;
  }
}

#MUNI{
  position: relative;
  left:10px;
}
/*
#issues{
  float:right;
  top:300px;
}*/
